<!-- Use [] to bind from source to view
Use () to bind from view to source
Use [()] to bind in a two-way sequence of view to source to view -->

<div style="text-align:center">
  <h1>
    Welcome to {{title}}
  </h1>
</div>
<nav>
  <a routerLink="/department" routerLinkActive="active">department</a> <br>
  <a routerLink="/employee" routerLinkActive="active">employee</a>
</nav>
<!-- <app-test></app-test> -->

<!-- <app-binding></app-binding> -->

<!-- <app-two-way-binding></app-two-way-binding> -->

<!-- <app-parent></app-parent> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail> -->

<router-outlet></router-outlet>
